@font-face {
  font-family: 'pawrittenbold';
  src: url('../assets/fonts/pawritten-bold.eot');
  src: url('../assets/fonts/pawritten-bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pawritten-bold.woff2') format('woff2'),
  url('../assets/fonts/pawritten-bold.woff') format('woff'),
  url('../assets/fonts/pawritten-bold.ttf') format('truetype'),
  url('../assets/fonts/pawritten-bold.svg#pawrittenbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pawrittenregular';
  src: url('../assets/fonts/pawritten.eot');
  src: url('../assets/fonts/pawritten.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pawritten.woff2') format('woff2'),
  url('../assets/fonts/pawritten.woff') format('woff'),
  url('../assets/fonts/pawritten.ttf') format('truetype'),
  url('../assets/fonts/pawritten.svg#pawrittenregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pamainextrabold';
  src: url('../assets/fonts/pamain-extrabold.eot');
  src: url('../assets/fonts/pamain-extrabold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pamain-extrabold.woff2') format('woff2'),
  url('../assets/fonts/pamain-extrabold.woff') format('woff'),
  url('../assets/fonts/pamain-extrabold.ttf') format('truetype'),
  url('../assets/fonts/pamain-extrabold.svg#pamainextrabold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'pamainbold';
  src: url('../assets/fonts/pamain-bold.eot');
  src: url('../assets/fonts/pamain-bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pamain-bold.woff2') format('woff2'),
  url('../assets/fonts/pamain-bold.woff') format('woff'),
  url('../assets/fonts/pamain-bold.ttf') format('truetype'),
  url('../assets/fonts/pamain-bold.svg#pamainbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'pamainlight';
  src: url('../assets/fonts/pamain-light.eot');
  src: url('../assets/fonts/pamain-light.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pamain-light.woff2') format('woff2'),
  url('../assets/fonts/pamain-light.woff') format('woff'),
  url('../assets/fonts/pamain-light.ttf') format('truetype'),
  url('../assets/fonts/pamain-light.svg#pamainlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pamainregular';
  src: url('../assets/fonts/pamain.eot');
  src: url('../assets/fonts/pamain.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pamain.woff2') format('woff2'),
  url('../assets/fonts/pamain.woff') format('woff'),
  url('../assets/fonts/pamain.ttf') format('truetype'),
  url('../assets/fonts/pamain.svg#pamainregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

body, html {
  margin: 0;
  padding: 0;
  font-family: pamainregular, sans-serif;

  /*background-image: url("../assets/images/playalong-default.jpg");*/
  background-color: #222222 !important;
  height: 100%;
  width: 100%;

  /*hack to disable scroll bounce on ios*/
  position: fixed;
}

video::-webkit-media-controls-fullscreen-button
{
  display: none !important;
}

.ql-font-arial {
  font-family: Arial;
}

.ql-font-times-new-roman {
  font-family: 'Times New Roman';
}

.ql-font-pamainlight {
  font-family: pamainlight;
}

.ql-font-pamainregular {
  font-family: pamainregular;
}

.ql-font-pamainbold {
  font-family: pamainbold;
}

.ql-font-pamainextrabold {
  font-family: pamainextrabold;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}
